
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
scipy
scikit-learn
beautifulsoup4
bs4
Flask
nltk
spacy
sumy
thinc
urllib3
numpy
cython
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm >=3.2.2,<3.3.0




