<!DOCTYPE html>
<html>
<head>
	<title>Summaryzer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="{{ url_for('static', filename='w3.css') }}">

</style>
</head>
<body>
<div class="w3-bar w3-teal w3-padding">
  <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-padding ">Home</a>
  
  <a href="#C1" class="w3-bar-item w3-button w3-right w3-padding" >About</a>
  <a href="#C1" class="w3-bar-item w3-button w3-right w3-padding" >Contact</a>
</div>
<br>


<!-- Start of Main Section -->
<div class="w3-container w3-center"><h3>Enter your text Here</h3>
	<form method="POST" action="/process">
	<textarea  name="input_text" cols="5" rows="10"  required="true" placeholder="Enter Text Here" style="width:60%"></textarea>
            
         <br/>
         
         <p><h4>Select your Algorithm</h4></p>
         <select class="w3-select w3-border w3-round-large"  name="model_choice" style="width:40%">
                
                
                <option value="default"  selected>Default</option>
                <option value="lex_summarizer">Lex Summarizer</option>
                <option value="luhn_summarizer">Luhn Summarizer</option>
                <option value="isa_summarizer">Isa Summarizer</option>
                    
                </select>
                <br>
                <br>
         <button class="w3-btn w3-blue-grey" type="reset" value="reset">Clear</button>
          <button class="w3-btn w3-teal" type="submit" value="reset">Summarize</button>
          
          
          <div class="input-field">
                    
               
        </div>
</form></div>
<br><br>
<div class="w3-container w3-center"><h3>Enter your document link Here</h3>
<form method="POST" action="/process_url">
         <input  type="text" name="input_url" placeholder="Enter URL Here" required="true"  style="width:50%">
<br><br>
          <button class="w3-btn w3-blue-grey" type="reset" value="reset">Clear</button>
          <button class="w3-btn w3-teal" type="submit" value="reset">Summarize</button>
</form>

</div>
<br><br>
 
     

  
  </div>
</div>
<div class="w3-container w3-teal">

    <div class="w3-row">

  <div class="w3-half w3-container">
          <h4 >About the App</h4>
          <p>the app was build with Flask framework,Sumy packages(Lex rank,Isa and luhn) and w3.css(modern css framework) for the application
.</p>
Made by <a  href="https://twitter.com/Alamin_Magaga">Alamin M Magaga</a><br/>
      Founder<a  href="https://twitter.com/Magtech_Dihub"> @Magtech Digital Hub</a>


   </div>
      
   <div class="w3-half w3-container w3-center">
          <h4 id="C1">Connect With Me</h4>
          <ul>
           <a href="https://web.facebook.com/alaminmusa.magaga" target="_blank" class="white-text">
            <i class="fa fa-facebook fa-4x"></i>
            
          </a>
          <a href="https://www.youtube.com/channel/UCy3KM0QxpZUTgKjXRVID6-A" target="_blank" >
            <i class="fa fa-youtube-square fa-4x"></i>
          
          </a>
          
          <a href="alaminmusamagaga.medium.com" target="_blank" class="white-text">
            <i class="fa fa-medium fa-4x"></i>
            
          </a>
          
          <a href="https://www.linkedin.com/in/alamin-musa-magaga-8b388118b" target="_blank" class="white-text">
            <i class="fa fa-linkedin fa-4x"></i>
          </a>
          
          </a>
           <a href="https://github.com/alaminmagaga" target="_blank" class="white-text">
            <i class="fa fa-github-square fa-4x"></i>
          </a>
          
          <a href="https://twitter/Alamin_Magaga" target="_blank" class="white-text">
            <i class="fa fa-twitter fa-4x"></i>
        
          </a>
         
          </ul>
    </div>
    

    
      
      
      </div>
<br>
    </div>
</body>
</html>